* {
  font-family: "Open Sans", sans-serif;
}

html {
  overflow-y: scroll;
}

h1 {
  /*padding-top: 15%;
  padding-bottom: 15%;*/
  text-align: center;
  font-size: 50px;
  margin: 0px;
  /*font-style: italic;*/
}

.headshot {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 25px;
}

#header {
  padding-top: 10%;
  padding-bottom: 5%;
  text-align: center;
}

#description {
  padding-left: 10%;
  padding-right: 10%;
}
h2, #rlink {
  font-size: 20px;
}

h3 {
  margin:0px;
}

ul {
  list-style: none;
  padding-left: 5px;
}

p, ul, .links {
  color: #656668;
}
/*FIX VIEW MY RESUME HOVER*/
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

.information {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap; /*wrap*/
  /*margin-bottom: 10%;*/
}

#about, #skills, #contact, #resume {
  /*display: inline-block;*/
  text-align: center;
/*  padding: 4%;
  padding-top: 0px;*/
}

.links {
  display: inline-block !important;
  justify-content: space-evenly;
}

.menu {
  /*width: 300px;*/
  max-height: 30%;
  text-align: center;
  align-items: center;
  border: 1px solid #adadad;
  border-radius: 4px;
  box-shadow: 0 0 1px 1px #eaecef;
  margin-bottom: 15px;
}

.dropdown {
  text-align: left;
  /*position: fixed;*/
  padding-left: 10px;
  padding-right: 10px;
  width: 200px;
  height: 130px;
  /*font-style: italic;*/
  letter-spacing: 0.5px;
  overflow-y: scroll;
}

.button {
  text-align: center;
  padding: 10px;
  width: 200px;
  margin:0px;
  color: black;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.button:hover, #resbtn:hover {
  font-style: italic;
  background-color: black;
  color: white;
}

/* <-- ONE COL BUTTON CLICK */

.fullborder {
  border: 1px solid #adadad;
  border-radius: 4px;
}

.onecol, .mobclick{
  width: 100% !important;
  /*height: 100%;*/
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  color: black;
  text-align: center;
}
.transparent {
  opacity: transparent;
}
.mobclick {
  top: 40px;
  height: 100%;
  padding: 0px;
  padding-top: 20px;
}
/* --> */

.twocol {

}

.fourcol {
  width: 300px;
}

img {
  padding: 5px;
  text-align: center;
}
/*
#gh_logo {
  padding-top: 10px;
}

#mail_logo {
  width: 32px;
}
*/

/* logos in the contact box
#li_logo {
  margin-top: 16px;
  margin-left: -20px;
  margin-right: 30px;
}

#gh_logo {
  margin-right: 30px;
}

#mail_logo {
  margin-bottom: 3px;
}*/

.logos {
  display: inline-block;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

#li_logo {
  margin-top: 5px;
  margin-right: 50px;
  /*margin-left: 4px;
  margin-right: 50px;*/
}


@media only screen and (min-width: 481px) and (max-width: 1050px) {
  .information {
    flex-wrap: wrap;
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
  }
}

@media only screen and (max-width: 700px) {
  #description {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: center;
  }

  .information{
    flex-wrap: wrap;
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    justify-content: center;
  }

}
