* {
  text-align: center;
}

/*overhead*/
html {
  overflow-y: scroll;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3 {
  text-align: center;
  text-transform:uppercase;
}
h1 {
  font-size: 50px;
  margin: 0px;
  letter-spacing: 5px;
}

h2 {
  font-size: 45px;
  letter-spacing: 3px;
}

h3 {
  font-size: 30px;
  padding-bottom: 2%;
}

header {
  width: 100%;
  text-align: left;
  background-color: black;
  height: 50px;
}
/*overhead end*/

/*main section */
.links {
  display: inline-block !important;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
}

.logos {
  display: inline-block;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

#li_logo {
  margin-top: 5px;
  margin-right: 50px;
}

.headshot {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 25px;
}

#intro {
  padding-top: 18%;
  padding-bottom: 8%;
  text-align: center;
}

#description {
  padding-left: 10%;
  padding-right: 10%;
}

img {
  padding: 5px;
  text-align: center;
}

.main, .bodysec {
  text-align: center;
  max-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}
/*main section end*/

#aboutme, #skills {
  padding-top: 5%;
}

#aboutme {
  padding-left: 5%;
  padding-right: 5%;
}

/*scroll buttons*/
.hoverbutton {
  padding-top: 2%;
  text-align: center;
}

.downbutton, #upbutton {
  width: 35px;
  height: auto;
  opacity: 0.4;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.downbutton:hover {
  cursor: pointer;
  transform: translateY(15px);
}

#upbutton:hover {
  cursor: pointer;
  transform: translateY(-15px);
}
/*end of scroll buttons*/

#aboutme {
  text-align: center;
}

#contactme {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 2%;
}
#aboutme p {
  line-height: 30px;
}

#aboutmedesc {
  width: 50%;
  text-align: center;
  margin: auto;
}

.otherinterests {
  margin-top: 5%;
}

.otherinterests img {
  width: 150px;
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 25px;
}

#music p, #lang p, #travel p {
  width: 100%;
  margin-left: 0 !important;

}

#skills {
  margin-left: 10%;
  margin-right: 10%;
}

/*start of skillbar section*/
.skillbar {
  position:relative;
  display:block;
  margin-bottom:15px;
  width:100%;
  background:#eee;
  height:35px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-transition:0.4s linear;
  -moz-transition:0.4s linear;
  -ms-transition:0.4s linear;
  -o-transition:0.4s linear;
  transition:0.4s linear;
  -webkit-transition-property:width, background-color;
  -moz-transition-property:width, background-color;
  -ms-transition-property:width, background-color;
  -o-transition-property:width, background-color;
  transition-property:width, background-color;
}

.skillbar-title {
  position:absolute;
  top:0;
  left:0;
  font-family: "Roboto-Medium", "Roboto";
  font-size:13px;
  color:#000;
}

.skillbar-title span {
  display: block;
  padding:0 20px;
  height:35px;
  line-height:35px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-bar {
  height:35px;
  width:0px;
  background:#6adcfa;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

.skill-bar-percent {
  position:absolute;
  right:10px;
  top:0;
  font-size:11px;
  height:35px;
  line-height:35px;
  color:#ffffff;
  color:rgba(0, 0, 0, 0.4);
}
/*end of skill bar section*/

/*background color of aboutme and contactme section*/
#aboutme, #contactme{
  background-color: #36454f;
  color: white;
}

.bttn {
  display: inline-block;
  align-items: center;
  border: 1px solid #adadad;
  margin-bottom: 15px;
  text-align: center;
  padding: 15px;
  width: 200px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  margin-top: 5px;
}

#contact1, #contact2 {
  /*border-color: black;*/
  color: white;
}

#resume {
  text-decoration: none;
  color: black;
}

#contact1:hover, #contact2:hover, #resume:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  text-decoration: none;
}

#bottom a {
  text-decoration: none;
  color: black;
  opacity: 0.4;
}

footer {
  text-align: center;
}

/*mobile optimization*/
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 25px;
    padding-bottom: 1%;
  }
  .info {
    text-align: center;
  }

  #description {
    margin-top: 5%;
  }

  #aboutmedesc, #music, #lang, #travel {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  #aboutme{
    padding: 5%;
  }

  #contactme {
    padding-left: 5%;
    padding-right: 5%;
  }
  .downbutton {
    padding-bottom: 5%;
  }

  #contact2 {
    margin-bottom: 10%;
  }
  .skillbar {
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #music, #lang, #travel {
    width: 60%;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
  #aboutmedesc {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  #intro {
    padding-top: 25%;
  }
  #abtdown {
    padding-bottom: 5%;
  }
  #skillsdown {
    padding-top: 5%;
  }

}
